$text-color: #ffffff;


body {
  background: #06040e;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  color: $text-color;
  padding: 0 10%;
}

header {
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-title {
    font-weight: 1000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle at 120.71% 50%, #ff9c6f 0, #ff9277 6.25%, #ff887e 12.5%, #ff7c87 18.75%, #ff708f 25%, #ff6398 31.25%, #ff55a2 37.5%, #ff48ab 43.75%, #f23cb5 50%, #df34bf 56.25%, #c833cb 62.5%, #ad38d6 68.75%, #8c40e1 75%, #5e48ec 81.25%, #0051f4 87.5%, #0058fb 93.75%, #005eff 100%);
  }

  .early-access {
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 20px;
    background: #191B1F;
    border: 1px solid white;
    overflow: hidden;

    input {
      height: 40px;
      margin: 0;
      background: #191B1F;
      border: none;
      text-align: center;
      color: white;
      font-family: 'Nunito', sans-serif;
      padding: 0 30px;
      font-size: 15px;

      &:focus-visible {
        outline: 0 solid;
      }
    }

    button {
      height: 40px;
      background: white;
      font-family: 'Nunito', sans-serif;
      font-weight: 900;
      letter-spacing: 1px;
      color: black;
      border: none;
      border-bottom-left-radius: 20px;
      border-top-left-radius: 20px;

      &:hover {
        cursor: pointer;
      }

      &:active {
        opacity: 0.8;
      }
    }
  }
}


.description-title {
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  padding-top: 50px;
}

.description-body {
  padding-top: 50px;
  font-size: 20px;

}